.header {
    display: flex;
    justify-content: space-between;

    &__logo {
        font-size: 2.3rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__menu-link {
        padding: 20px;
        font-weight: 600;
        color: #191f26;
        text-decoration: none;

        &:hover,
        &--active {
            padding: 20px;
            background-color: blue;
            color: white;
            text-decoration: none;
        }
    }
}
